<div ng-controller="DriversController">
    <h1>Driver Details</h1>
    <h2>{{driverDetails.name}}</h2>
    <div>
        <span>Upcoming trips: {{driverDetails.numberOfUpcomingTrips}}</span>
        <span>Total trips: {{driverDetails.numberOfTotalTrips}}</span>
    </div>
    <table>
        <thead>
            <tr>
                <th>Driver</th>
                <th>From</th>
                <th>To</th>
                <th>Departure time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trip in driverDetails.trips">
                <td>
                    <a href="#/drivers/{{trip.driverId}}">{{trip.driverName}}</a>
                </td>
                <td>{{trip.from}}</td>
                <td>{{trip.to}}</td>
                <td><a href="#/trips/{{trip.id}}">{{trip.departureDate}}</a></td>
            </tr>
        </tbody>
    </table>
</div>

