<div>
    <h1>
        Latest trips
    </h1>
    <div ng-show="userInfo.isDriver && isLogedIn">
        <button><a href="#/trips/create">Create</a></button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Driver</th>
                <th>From</th>
                <th>To</th>
                <th>Departure time</th>
                <th ng-show="isLogedIn">Is Mine</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trip in latestTrips">
                <td>
                    <a href="#/drivers/{{trip.driverId}}">{{trip.driverName}}</a>
                </td>
                <td>{{trip.from}}</td>
                <td>{{trip.to}}</td>
                <td>
                    <a href="#/trips/{{trip.id}}">{{trip.departureDate}}</a>
                </td>
                <td ng-show="isLogedIn">
                    <span ng-show="trip.isMine">YES</span>
                    <span ng-hide="trip.isMine">NO</span>
                    {{trip.isMine}}
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
</div>